<?xml version="1.0"?>
<model>
  <name>Mobile Warehouse Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
 
  <author>
   <name>Tommaso Van Der Meer</name>
   <email>tommaso.vandermeer@student.unisi.it</email>
  </author>
 
  <description>
    This is the first robot I simulate in Gazebo, I hope it works fine.
  </description>
</model>
