<?xml version="1.0"?>
<model>
  <name>Pioneer 3AT</name>
  <version>1.0</version>
  <sdf version='1.4'>pioneer3at.sdf</sdf>
 
  <author>
   <name>Tommaso Van Der Meer</name>
   <email>tommaso.vandermeer@student.unisi.it</email>
  </author>
 
  <description>
    This is the second robot I simulate in Gazebo, I hope it works fine.
  </description>
</model>
